<script type="text/javascript">
	$(document).ready(function(){
		$("#learn").click(function(){
			$('html, body').animate({
			    scrollTop: $("#customer").offset().top
			}, 'slow');
		})
	})
</script>
<div>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/"><span style="font-size: 25px;color:white; text-shadow: 2px 2px 0 black;">adSCOPE</span></a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#/userlogin"><button class="btn btn-success">Login</button></a></li>
	        <li><a href="#/register"><button class="btn btn-primary">Register</button></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div id="wrapper">
		<div id="top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1 style="margin-top:20%; font-size: 5.0vw; color: white; text-shadow: 2px 2px 2px black;">Expand your market reach</h1>
						<h2 style="font-size: 3.0vw; color: white; text-shadow: 2px 2px 2px black;">Have anyone advertise your product for you</h2>
						<button id="learn" class="btn btn-info" style="margin-top:20px; width:120px;">Get Started</button>
					</div>		
				</div>
			</div>
		</div>
		<div class="container">
			<div id="main">
				<div class="row">
					<div class="col-md-12">
						<h1 style="margin-top: 6%;font-size:4.0vw;">Why use adSCOPE?</h1>
						<h3 style="margin-bottom: 3%;font-size:2.0vw;">"Invite people into your brand, and lean into the possibilities. Build movements, not campaigns!" ― <span style="font-style: italic;">Ekaterina Walter, Author of Think Like Zuck</span></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="info">
							<h2 style="color: #64bae7;">72%</h2>
							<span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:5vw; color: #64bae7;"></span>
							<h5>of adults in the US use some form of social media. That's a potential 229 million people that can advertise for you</h5>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<h2 style="color: #ff9c9f;">2X</h2>
							<span class="glyphicon glyphicon-road" aria-hidden="true" style="font-size:5vw; color: #ff9c9f;"></span>
							<h5><b>better</b> conversion rates compared to traditonal paid ads on websites</h5>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<h2 style="color: #81d8d0;">$20K</h2>
							<span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="font-size:5vw; color: #81d8d0"></span>
							<h5>The average companies save per year when investing into social media/inbound marketing.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="customer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 style="margin-top: 6%;font-size:4.0vw; color:white; text-shadow: 2px 2px 0 black;">For Business or Consumers</h1>
						<h3 style="margin-bottom: 3%;font-size:2.0vw; color:white; text-shadow: 2px 2px 0 black;">Help spread the word about your business or product with our unique company to consumer relationship</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4 style="font-size:2vw;">Solutions for corporate</h4>
						<a href="#/business"><div id="corppic">
							<span class="text-content"><span>
								<h4>-Reach people anywhere in the world</h4>
								<h4>-Choose the platforms you want</h4>
								<h4>-Set your own prices</h4>
								<h4>-Get detailed reports from campaigns</h4>
								<h4>-Pay for only completed jobs</h4>
							</span></span>
						</div></a>
					</div>
 					<div class="col-md-6">
 						<h4 style="font-size:2vw;">Advertise with real companies</h4>
 						<div id="conspic">
 							<span class="text-content"><span>
 								<h4>-Get paid spreading the word for real companies</h4>
 								<h4>-Choose the jobs you want</h4>
 								<h4>-Cash out anytime</h4>
 							</span></span>
 						</div>
 					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
		 	<ul>
		 		<li><a href="">Terms and Conditions</a></li>
		 		<li><a href="">Privacy Policy</a></li>
		 		<li><a href="">About Us</a></li>
		 		<li><a href="">Contact</a></li>
		 	</ul>
		 	<h5 style="color: gray;">Copyright &copy 2015 adSCOPE Inc.</h5>
		</footer>
	</div>
</div>